header {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--spacing-2);
    align-content: center;
    background-color: #1a1a1a;
}

h1 {
    color: white;
}

#minimal {
    color: gold;
}